* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}
.box {
  width: 500px;
  height: 400px;
  background: #000;
  transition: ease-in-out 6s;
  background-position: top;
}
.box:hover {
  background-position: bottom;
}
.box1 {
  background: url("./images/4.jpg");
  background-size: cover;
}
.box2 {
  background: url("./images/5.jpg");
  background-size: cover;
}
